<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script>
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    {% if not app.user %}
                        <li><a href="{{ path("fos_user_security_login") }}">login</a></li>
                        <li><a href="{{ path("fos_user_registration_register") }}">register</a></li>
                    {% else %}
                        <li><a href="{{ path("fos_user_security_logout") }}">logout</a></li>
                        <li><a href="{{ path("portfolio_index") }}">portfolio</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row medium-8 large-7 columns">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
